<form class="ui stacked segment form" method="POST" action="/playlist/{{listId}}/updatebook/{{id}}" >
 
  <tr class="hide" id="edit{{@index}}">


    <td>
      <span class="ui input">
        <input type="text" name="title" autofocus required
          title="Please include a valid Title" 
		  placeholder="Title" value="{{title}}">
      </span>
    </td>
    <td>
      <span class="ui input">
        <input type="text" name="author" required 
               title="Please include a valid Author" 
			   placeholder="Author" value="{{author}}">
      </span>
    </td>
    <td class="center aligned">
      <button type = "reset" class = "editSubmit"
	          title="Exit without saving">
        <i class="ui undo icon"></i>
      </button>
    </td>
    <td class="center aligned">
    <button type = "reset" class = "editSubmit" id="hideEdit{{@index}}" 
        title="Exit without saving">
         <i class="ui undo icon"></i>
</button>


    </td>
  </tr>
</form>
